.page-login {
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 10% auto 0px;
}

.form-signin-heading {
    margin-bottom: 25px;
}